[submodule "Image-Stack-Compressor"]
	path = Image-Stack-Compressor
	url = https://github.com/SkanataLab/MMF-StaticBackgroundCompressor
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = https://github.com/SkanataLab/yaml-cpp
